## Support Tickets NLP (basic)

With the support tickets reviewed. We need to look into basic text / nlp information that is genderated from these support tickets.

We wont be pulling every information we can. This is only ment to be a basic info before creating a ai model.

### Python Setup

In [1]:
import pandas as pd
import spacy

/Users/eric/venv-metal/lib/python3.9/site-packages/urllib3/__init__.py:35: NotOpenSSLWarning: urllib3 v2 only supports OpenSSL 1.1.1+, currently the 'ssl' module is compiled with 'LibreSSL 2.8.3'. See: https://github.com/urllib3/urllib3/issues/3020
  warnings.warn(

basic spacy setup

In [2]:
nlp = spacy.load("en_core_web_sm")

/Users/eric/venv-metal/lib/python3.9/site-packages/spacy/util.py:910: UserWarning: [W095] Model 'en_core_web_sm' (3.7.1) was trained with spaCy v3.7.2 and may not be 100% compatible with the current version (3.8.2). If you see errors or degraded performance, download a newer compatible model or retrain your custom model with the current spaCy version. For more details and available updates, run: python -m spacy validate
  warnings.warn(warn_msg)

### Import Support File

In [3]:
df = pd.read_csv("../data/tweeter_support_tickets.csv")

In [4]:
df.head()

,Unnamed: 0,tweet_id,author_id,inbound,created_at,text,response_tweet_id,in_response_to_tweet_id,support_team,conversation,conversation_count,conversation_dates,date_resolved,time_to_resolve
0,0,18.0,115713.0,True,Tue Oct 31 19:56:01 +0000 2017,@115714 y’all lie about your “great” connectio...,17,NaN,sprintcare,@115713 H there! We'd definitely like to work ...,2.0,"['Tue Oct 31 19:59:13 +0000 2017', 'Tue Oct 31...",Tue Oct 31 19:59:13 +0000 2017,0.053333
1,1,20.0,115715.0,True,Tue Oct 31 22:03:34 +0000 2017,"@115714 whenever I contact customer support, t...",19,NaN,sprintcare,@115715 Please send me a private message so th...,2.0,"['Tue Oct 31 22:10:10 +0000 2017', 'Tue Oct 31...",Tue Oct 31 22:10:10 +0000 2017,0.110000
2,2,29.0,115716.0,True,Tue Oct 31 22:01:35 +0000 2017,actually that's a broken link you sent me and ...,28,NaN,Ask_Spectrum,@115716 The information pertaining to the acco...,2.0,"['Tue Oct 31 22:05:37 +0000 2017', 'Tue Oct 31...",Tue Oct 31 22:05:37 +0000 2017,0.067222
3,3,31.0,115717.0,True,Tue Oct 31 22:06:54 +0000 2017,"Yo @Ask_Spectrum, your customer service reps a...",30,NaN,Ask_Spectrum,"@115717 Hello, My apologies for any frustratio...",2.0,"['Tue Oct 31 22:12:09 +0000 2017', 'Tue Oct 31...",Tue Oct 31 22:12:09 +0000 2017,0.087500
4,4,33.0,115718.0,True,Tue Oct 31 22:06:56 +0000 2017,My picture on @Ask_Spectrum pretty much every ...,32,NaN,Ask_Spectrum,@115718 I apologize for the inconvenience. I w...,2.0,"['Tue Oct 31 22:10:08 +0000 2017', 'Tue Oct 31...",Tue Oct 31 22:10:08 +0000 2017,0.053333

### NLP Data Setup

Setup the nlp process over both the text (initial intake) and the conversation

In [5]:
test_doc = nlp(df['text'][0])
test_doc

@115714 y’all lie about your “great” connection. 5 bars LTE, still won’t load something. Smh.

#### Tokenize Inital Request

Check basic tokenization on the sample test text

In [6]:
for token in test_doc:
    print(token.text)

@115714
y’
all
lie
about
your
“
great
”
connection
.
5
bars
LTE
,
still
wo
n’t
load
something
.
Smh
.

Test out the process on a smaller dataset before preforming on the entire one.

In [7]:
test_small_df = df[:250]

In [8]:
test_small_df['text_token'] = test_small_df['text'].apply(lambda x: list(nlp(str(x))))

/var/folders/sk/f7k402kx1wvdmcz91gdz6hs00000gn/T/ipykernel_12018/918028222.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_small_df['text_token'] = test_small_df['text'].apply(lambda x: list(nlp(str(x))))

In [9]:
print(f"Data type: {test_small_df.dtypes['text_token']}")

Data type: object

Review the newly created column

In [10]:
test_small_df.head()

,Unnamed: 0,tweet_id,author_id,inbound,created_at,text,response_tweet_id,in_response_to_tweet_id,support_team,conversation,conversation_count,conversation_dates,date_resolved,time_to_resolve,text_token
0,0,18.0,115713.0,True,Tue Oct 31 19:56:01 +0000 2017,@115714 y’all lie about your “great” connectio...,17,NaN,sprintcare,@115713 H there! We'd definitely like to work ...,2.0,"['Tue Oct 31 19:59:13 +0000 2017', 'Tue Oct 31...",Tue Oct 31 19:59:13 +0000 2017,0.053333,"[@115714, y’, all, lie, about, your, “, great,..."
1,1,20.0,115715.0,True,Tue Oct 31 22:03:34 +0000 2017,"@115714 whenever I contact customer support, t...",19,NaN,sprintcare,@115715 Please send me a private message so th...,2.0,"['Tue Oct 31 22:10:10 +0000 2017', 'Tue Oct 31...",Tue Oct 31 22:10:10 +0000 2017,0.110000,"[@115714, whenever, I, contact, customer, supp..."
2,2,29.0,115716.0,True,Tue Oct 31 22:01:35 +0000 2017,actually that's a broken link you sent me and ...,28,NaN,Ask_Spectrum,@115716 The information pertaining to the acco...,2.0,"['Tue Oct 31 22:05:37 +0000 2017', 'Tue Oct 31...",Tue Oct 31 22:05:37 +0000 2017,0.067222,"[actually, that, 's, a, broken, link, you, sen..."
3,3,31.0,115717.0,True,Tue Oct 31 22:06:54 +0000 2017,"Yo @Ask_Spectrum, your customer service reps a...",30,NaN,Ask_Spectrum,"@115717 Hello, My apologies for any frustratio...",2.0,"['Tue Oct 31 22:12:09 +0000 2017', 'Tue Oct 31...",Tue Oct 31 22:12:09 +0000 2017,0.087500,"[Yo, @Ask_Spectrum, ,, your, customer, service..."
4,4,33.0,115718.0,True,Tue Oct 31 22:06:56 +0000 2017,My picture on @Ask_Spectrum pretty much every ...,32,NaN,Ask_Spectrum,@115718 I apologize for the inconvenience. I w...,2.0,"['Tue Oct 31 22:10:08 +0000 2017', 'Tue Oct 31...",Tue Oct 31 22:10:08 +0000 2017,0.053333,"[My, picture, on, @Ask_Spectrum, pretty, much,..."

Preform the tokenization over the entire dataframe

In [11]:
df['text_tokens'] = df['text'].apply(lambda x: list(nlp(str(x))))

In [ ]:
df.head()

### Create conversation tokens

In [12]:
test_conv = df['conversation'][0]

In [13]:
test_conv_doc = nlp(test_conv)

In [14]:
for token in test_conv_doc:
    print(token.text)

@115713
H
there
!
We
'd
definitely
like
to
work
with
you
on
this
,
how
long
have
you
been
experiencing
this
issue
?
-AA


@115714
y’
all
lie
about
your
“
great
”
connection
.
5
bars
LTE
,
still
wo
n’t
load
something
.
Smh
.

Create a new conversation tokens column

In [ ]:
df['conversation_tokens'] = df['conversation'].apply(lambda x: list(nlp(str(x))))